<%= form_with(model: atendimento, local: true, url: public_novo_atendimento_path) do |form| %>
  <% if atendimento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atendimento.errors.count, "error") %> prohibited this atendimento from being saved:</h2>

      <ul>
        <% atendimento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :assunto_id %>
    <%= form.select :assunto_id, @assuntos, { prompt: 'Selecione o assunto' }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :texto %>
    <%= form.text_area :texto, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar', class: 'btn btn-primary' %>
    <%= link_to 'Voltar', root_path, class: 'btn btn-primary' %>
  </div>
<% end %>
