<p id="notice"><%= notice %></p>

<h1>Assuntos</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Tipo tendimento</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assuntos.each do |assunto| %>
      <tr>
        <td><%= assunto.descricao %></td>
        <td><%= assunto.tipo_tendimento_id %></td>
        <td><%= assunto.ativo %></td>
        <td><%= link_to 'Show', assunto %></td>
        <td><%= link_to 'Edit', edit_assunto_path(assunto) %></td>
        <td><%= link_to 'Destroy', assunto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assunto', new_assunto_path %>
